@charset "utf-8";
body {
    background: rgb(4, 4, 48) url(/bits/background.png) repeat-x center top;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.4m;
    letter-spacing: 0.03em;
    -ms-text-size-adjust: 16px;
    -moz-text-size-adjust: 16px;
    -webkit-text-size-adjust: 16px;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    text-shadow: -1px -1px 4px rgb(96, 96, 255);
}
strong, b {
    font-weight: 600;
}
a, a:link, a:visited {
    color: rgb(128, 128, 255);
    text-decoration: none;
    text-shadow: -1px -1px 4px rgb(0, 0, 255);
}
a:hover, a:active {
    color: rgb(240, 240, 255);
    text-shadow: -1px -1px 4px rgb(240, 240, 255);
}
#navbar {
    width: 900px;
    float: right;
    margin-top: 16px;
    vertical-align: middle;
    text-align: right;
}
#navbar-sm {
    width: 800px;
    float: right;
    margin-top: 16px;
    vertical-align: middle;
    text-align: right;
}
#navbar-list {
    vertical-align: middle;
    text-align: right;
    clear: right;
}
.navbar-right {
    margin-right: 0px;
}
.navbar-inverse {
    background-color: rgba(4, 4, 48, 0.65);
    border: none;
}
.navbar-nav > li {
    padding: 0;
    margin: 0;
    text-align: right;
}
.navbar-nav > li > a {
    padding: 2px 4px 2px 4px;
    height: 100%;
    font-size: 16px;
    transition: all 0.15s linear 0s;
    -webkit-transition: all 0.15s linear 0s;
    text-align: right;
}
.navbar-nav > li > a > div, .navbar-nav > li > a > svg {
    display: inline;
    padding: 2px 0px 0px 2px;
    margin: 0;
    vertical-align: middle;
    text-align: right;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:link, .navbar-inverse .navbar-nav > li > a:visited {
    color: rgb(178, 178, 255);
    font-weight: 600;
    text-align: right;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-nav > li > a:active {
    color: rgb(255, 255, 255);
    background-color: rgba(4, 4, 48, 0.65);
    text-shadow: -1px -1px 5px rgb(0, 0, 255);
    -moz-box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0.7);
    -o-box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0, 0.7);
}
.navbar-inverse .navbar-nav > li > a:hover > svg, .navbar-nav > li > a:active > svg {
    -webkit-filter: drop-shadow( -1px -1px 5px rgb(0, 0, 255));
    filter: drop-shadow(-1px -1px 5px rgb(0, 0, 255));
}
@media screen and (max-width: 1200px) {
    #navbar {
        font-size: 24px;
        width: 100%;
        margin: 0;
    }
    .navbar-nav > li > a {
        padding: 4px 4px 8px 4px;
        font-size: 20px;
    }
}
.navbar-toggle {
    margin-top: 23px;
}
.navbar-brand {
    height: auto;
    padding: 0;
}
.navbar-brand:hover, .navbar-brand:active {
    text-shadow: -1px -1px 5px rgb(0, 0, 255);
}
.row {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}
.header {
    padding-bottom: 20px;
}
.navitem {
    font-size: 24px;
}
.video {
    padding: 8px 16px 16px 8px;
}
.footer {
    width: 100%;
    font-size: 14px;
    text-align: center;
    padding: 8px;
    background-color: rgb(8, 8, 8);
    line-height: 1.4em;
}
.footer p {
    margin: 0;
    padding: 0;
}
.footer a, .footer a:link, .footer a:visited {
    font-weight: 600;
    color: rgb(96, 96, 255);
}
.footer a:hover, .footer a:active {
    color: rgb(240, 240, 255);
    text-shadow: -1px -1px 4px rgb(240, 240, 255);
}
.carousel-control {
    width: 6%;
}
.pagecontent {
    padding: 8px 0px 0px 0px;
    background-color: rgba(4, 4, 48, .65);
}
.navbar {
    margin-bottom: unset;
}
button, input, button, select, textarea {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 48);
    border: 2px solid rgb(0, 0, 192);
    border-radius: 4px;
    vertical-align: middle;
}
input[type="text"], input[type="submit"] {
    padding: 0px 6px 0px 6px;
    vertical-align: middle;
}
input[type="radio"], input[type="checkbox"] {
    position: relative !important;
    visibility: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
    vertical-align: middle;
}
.radiobox {
    display: inline;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    padding: 0px 0px 0px 5.5px;
    margin: 0px 0px 0px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}
.radiobox input {
    opacity: 0;
}
.radiomark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 18px;
    width: 18px;
    background-color: rgb(0, 0, 128);
    border: 2px solid rgb(0, 0, 192);
    border-radius: 10%;
}
.radiomark#value-0 {
    background-color: rgb(128, 128, 128);
    border: 2px solid rgb(192, 192, 192);
}
.radiomark#value-1 {
    background-color: rgb(192, 0, 0);
    border: 2px solid rgb(255, 0, 0);
}
.radiomark#value-2 {
    background-color: rgb(192, 64, 0);
    border: 2px solid rgb(255, 64, 0);
}
.radiomark#value-3 {
    background-color: rgb(192, 192, 0);
    border: 2px solid rgb(255, 255, 0);
}
.radiomark#value-4 {
    background-color: rgb(64, 192, 0);
    border: 2px solid rgb(64, 255, 0);
}
.radiomark#value-5 {
    background-color: rgb(64, 192, 192);
    border: 2px solid rgb(64, 255, 255);
}
.radiomark#value-6 {
    background-color: rgb(64, 128, 192);
    border: 2px solid rgb(64, 128, 255);
}
.radiomark#value-7 {
    background-color: rgb(64, 64, 192);
    border: 2px solid rgb(64, 64, 255);
}
.radiomark#value-8 {
    background-color: rgb(192, 64, 192);
    border: 2px solid rgb(192, 64, 255);
}
.radiomark#value-9 {
    background-color: rgb(192, 128, 192);
    border: 2px solid rgb(255, 128, 255);
}
.radiomark#value-10 {
    background-color: rgb(192, 96, 96);
    border: 2px solid rgb(255, 128, 128);
}
.radiomark:after {
    content: "";
    position: absolute;
    display: none;
}
.radiobox input:checked ~ .radiomark:after {
    display: block;
}
.radiobox .radiomark:after {
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10%;
    background: rgb(255, 255, 255);
}
.radiobox:hover input ~ .radiomark {
    background-color: rgb(0, 0, 192);
}
.radiobox input:checked ~ .radiomark {
    background-color: rgb(0, 0, 128);
}
.radiobox:hover input:checked ~ .radiomark {
    background-color: rgb(0, 0, 192);
}
.checkbox {
    display: inline;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    padding: 0px 0px 0px 5.5px;
    margin: 0px 0px 0px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}
.checkbox input {
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: 2px;
    left: 0px;
    height: 18px;
    width: 18px;
    background-color: rgb(0, 0, 128);
    border: 2px solid rgb(0, 0, 192);
    border-radius: 10%;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox input:checked ~ .checkmark:after {
    display: block;
}
.checkbox .checkmark:after {
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10%;
    background: rgb(255, 255, 255);
}
.checkbox:hover input ~ .checkmark {
    background-color: rgb(0, 0, 192);
}
.checkbox input:checked ~ .checkmark {
    background-color: rgb(0, 0, 128);
}
.checkbox:hover input:checked ~ .checkmark {
    background-color: rgb(0, 0, 192);
}
.nowrap-text {
    white-space: nowrap;
    margin-right: 2px;
}
.nowrap-text:before {
    content: "[";
    color: rgb(255, 255, 255);
}
.nowrap-text:after {
    content: "]";
    color: rgb(255, 255, 255);
}
.img-text {
    vertical-align: bottom;
    width: 20px;
    height: 20px;
    margin-right: 2px;
}
.priv-player {
    white-space: nowrap;
    margin-right: 2px;
    vertical-align: top;
    color: rgb(255, 128, 96);
}
.priv-supporter {
    white-space: nowrap;
    margin-right: 2px;
    vertical-align: top;
    color: rgb(255, 255, 128);
}
.priv-moderator {
    white-space: nowrap;
    margin-right: 2px;
    vertical-align: top;
    color: rgb(192, 255, 128);
}
.priv-operator {
    white-space: nowrap;
    margin-right: 2px;
    vertical-align: top;
    color: rgb(128, 255, 192);
}
.priv-administrator {
    white-space: nowrap;
    margin-right: 2px;
    vertical-align: top;
    color: rgb(128, 255, 255);
}
.priv-developer {
    white-space: nowrap;
    margin-right: 2px;
    vertical-align: top;
    color: rgb(128, 192, 255);
}
.priv-founder {
    white-space: nowrap;
    margin-right: 2px;
    vertical-align: top;
    color: rgb(224, 128, 224);
}
@media screen and (max-width: 800px) {
    .hide-small {
        border-collapse: collapse;
        visibility: hidden;
        display: none;
        width: 0px;
        height: 0px;
    }
    .footer {
        font-size: 13px;
    }
}
@media screen and (max-width: 560px) {
    .footer {
        font-size: 12px;
    }
}
@media screen and (max-width: 432px) {
    body {
        font-size: 12px;
    }
    .footer {
        font-size: 10px;
    }
}
