@charset "utf-8";
.pagecontainer {
    margin: 0px 32px 8px 32px;
    text-align: left;
}
.pagesidebar {
    float: right;
    text-align: center;
    padding: 2px 4px 2px 4px;
    margin: 16px 32px 16px 16px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid rgb(232, 232, 255);
    background: rgb(8, 8, 8);
    margin-left: 16px;
    font-size: 12px;
    line-height: 1.4em;
}
#markdown-toc, #general-toc {
    width: 240px;
    float: right;
    clear: both;
    padding: 4px 8px 4px 30px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid rgb(232, 232, 255);
    background: rgb(8, 8, 8);
    margin-left: 16px;
    font-size: 12px;
    line-height: 1.1em;
    font-weight: 600;
}
ul#markdown-toc {
    padding-left: 24px;
}
ul#markdown-toc ul, ul#markdown-toc ul ul, ul#markdown-toc ul ul ul, ul#markdown-toc ul ul ul ul {
    padding-left: 16px;
}
#markdown-toc li {
    padding-top: 2px;
    padding-bottom: 2px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 6px 0px 8px 0px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: 0.04em;
    text-shadow: -1px -1px 4px rgb(0, 0, 255);
}
h1 > svg, h2 > svg, h3 > svg, h4 > svg, h5 > svg, h6 > svg, h1 > a > svg, h2 > a > svg, h3 > a > svg, h4 > a > svg, h5 > a > svg, h6 > a > svg {
    -webkit-filter: drop-shadow(-1px -1px 5px rgb(0, 0, 255));
    filter: drop-shadow(-1px -1px 5px rgb(0, 0, 255));
}
h1 {
    font-size: 30px;
    border-bottom: 1px solid rgb(232, 232, 255);
}
h2 {
    color: rgb(240, 240, 255);
    font-size: 26px;
    border-bottom: 1px solid rgb(204, 204, 255);
}
h3 {
    color: rgb(224, 224, 255);
    font-size: 20px;
}
h4 {
    color: rgb(208, 208, 255);
    font-size: 18px;
}
h5 {
    color: rgb(192, 192, 255);
    font-size: 16px;
}
h6 {
    color: rgb(176, 176, 255);
    font-size: 14px;
}
.wrapper {
    width: 860px;
    margin: 0 auto;
}
p {
    margin: 8px 0px 8px 0px;
}
blockquote {
    font-size: 14px;
    border-left: 1px solid rgb(255, 255, 255);
    margin: 0;
    padding: 0 0 0 16px;
    font-style: italic;
}
code {
    padding: 0px 2px 0px 2px;
    margin: 0;
    background: rgba(48, 48, 48, 0.5);
    color: rgb(255, 255, 255);
    font-size: 85%;
    border: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre {
    background: rgba(8, 8, 8, 0.7);
    color: rgb(255, 255, 255);
    font-size: 85%;
    border-radius: 0px;
    border: 1px solid rgb(32, 32, 128);
    max-width: 100%;
}
pre code {
    border: 0;
    white-space: pre;
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
    word-break: keep-all;
}
div.highlighter-rouge, pre {
    margin-top: 4px;
}
table {
    border-collapse: collapse;
}
th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(32, 32, 128);
}
dt, th {
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-shadow: -1px -1px 5px rgb(0, 0, 255);
}
dt > svg, th > svg, span > svg {
    -webkit-filter: drop-shadow( -1px -1px 5px rgb(0, 0, 255));
    filter: drop-shadow(-1px -1px 5px rgb(0, 0, 255));
}
img {
    max-width: 100%;
}
header {
    width: 270px;
    float: left;
    position: fixed;
}
header ul {
    list-style: none;
    height: 40px;
    padding: 0;
    background: rgb(8, 8, 8);
    border-radius: 4px;
    border: 1px solid rgb(32, 32, 128);
    width: 270px;
}
header li {
    width: 89px;
    float: left;
    border-right: 1px solid rgb(32, 32, 128);
    height: 40px;
}
header li:first-child a {
    border-radius: 4px 0 0 4px;
}
header li:last-child a {
    border-radius: 0 4px 4px 0;
}
header ul a {
    line-height: 1;
    font-size: 11px;
    color: rgb(128, 128, 128);
    display: block;
    text-align: center;
    padding-top: 6px;
    height: 34px;
}
header ul a:hover, header ul a:focus {
    color: rgb(128, 128, 255);
    font-weight: 600;
}
header ul a:active {
    background-color: rgb(200, 200, 200);
}
strong {
    font-weight: 600;
}
header ul li + li + li {
    border-right: none;
    width: 89px;
}
header ul a strong {
    font-size: 16px;
    display: block;
}
section {
    width: 500px;
    float: right;
    padding-bottom: 50px;
}
small {
    font-size: 12px;
}
hr {
    border: 0;
    background: rgb(224, 224, 255);
    height: 1px;
    margin: 0 0 20px;
}
footer {
    width: 270px;
    float: left;
    position: fixed;
    bottom: 50px;
}
@media screen and (max-width: 800px) {
    #markdown-toc {
        width: 100%;
    }
}
@media screen and (max-width: 432px) {
    .pagecontainer {
        margin: 0px 8px 8px 8px;
    }
    header ul a strong {
        font-size: 14px;
    }
    blockquote {
        font-size: 14px;
    }
}
